body {
    font-family: Arial, sans-serif;
    background-color: #d64b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://www.buseterim.com.tr/upload/default/2016/11/11/10animasyon1000.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}

.container {
    background:rgb(238, 233, 233);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    background-color: #94317b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ae4c91;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background: #f9f9f9;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
}

button.remove-btn {
    background: #d9534f;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.remove-btn:hover {
    background: #c9302c;
}
